/* INDEX */
#bg {
  background: #DDEAF4;
  height:1900px;
  width:100%;
  opacity:0.5;
}



#menuOne, #menuTwo, #menuThree, #menuFour {
  width:70%;
  position:absolute;
  height:1500px;
  border:3px solid black;
}

#menuOne {
  right:7.5%;
  top:15%;
  background: #fad8e0;
  z-index: 4;
}

#menuTwo {
  right:12.5%;
  top:20%;
  background: #f0e884;
  z-index: 3;
}

#menuThree {
  right:17.5%;
  top:25%;
  background: #cfebed;
  z-index: 2;
}

#menuFour {
  right:22.5%;
  top:30%;
  background: #e5e5e5;
  z-index: 1;
}

.front {
  z-index: 100 !important;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}



h2.rotate {
	font-size:14px;
	font-weight:bold;
	width:140px;
	height:16px;
	margin-top:78px;
	margin-left:-45px;
}


.intro h3 {
  margin-bottom:30px;
}

.content {
  width:80%;
  margin-left:10%;
}